<header class="header">
  <div class="container header__container">
      <a href="./#home" class="logo">
          <span class="logo__text">Zyber-Stream</span>
      </a>

      <nav class="nav" id="main-nav">
          <ul class="nav__list">
              <li><a href="./#home" class="nav__link">Главная</a></li>
              <li><a href="./#practices" class="nav__link">Практики</a></li>
              <li><a href="./#tools" class="nav__link">Инструменты</a></li>
              <li><a href="./#learning" class="nav__link">Обучение</a></li>
              <li><a href="./#benefits" class="nav__link">Преимущества</a></li>
              <li><a href="./#blog" class="nav__link">Блог</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary">Начать</a>
          <button class="burger" id="burger" aria-label="Menu">
              <span></span>
          </button>
      </div>
  </div>
</header>
<div class="mobile-menu" id="mobile-menu">
  <div class="mobile-menu__content">
      <ul class="mobile-menu__list">
          <li><a href="./#home">Главная</a></li>
          <li><a href="./#practices">Практики</a></li>
          <li><a href="./#tools">Инструменты</a></li>
          <li><a href="./#learning">Обучение</a></li>
          <li><a href="./#benefits">Преимущества</a></li>
          <li><a href="./#blog">Блог</a></li>
          <li><a href="./#contact" class="btn btn--primary">Начать сейчас</a></li>
      </ul>
  </div>
</div>